<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    #download{
        font-size: 25px;

    }


    </style>
</head>
<body>
    <img src="../static/foreground.jpg" alt=" user_background_removed_image">
   
    <a href="../static/foreground.jpg"  id="download" download="myImg.jpg">download</a>
    
</body>
</html>